
@{
    ViewBag.Title = "ProductForm";
}

<h2>ProductForm</h2>
@model Lab21UserRegistration.Models.Item

<form action="SaveNewProduct" method="post">
    @*<input type="hidden" name="Id" value="@Model.Id" />*@
    <input type="text" name="Name" placeholder="Name" required />
    <input type="text" name="Description" placeholder="Description" required />
    <input type="text" name="Quantity" placeholder="Quantity" required />
    <input type="text" name="Price" placeholder="Price" required />
    <input type="submit" class="btn-block" value="Add Product!" />
</form>

<p class="danger">@ViewBag.ErrorMessage</p>