
<p><a href="../Home/Registration">Register Here!</a></p>
<p><a href="../CoffeeShop/Index">Shop!</a></p>
<p><a href="../CoffeeShop/ProductForm">Add Item!</a></p>

@*@Html.ActionLink("Register", "Registration", "Home")*@
@*This also works copied over from Layout page-may be easier*@