body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

#Regista{
    background-color: gold;
    color: blue;
    padding: 20px;
    width: 420px;
    text-align: right;
    border:solid blue 3px;
    
}
#Location {
    background-color: black;
    color: gold;
    padding: 20px;
    width: 400px;
    text-align: right;
    border: solid blue 3px;
}
#Password {
    background-color: blue;
    color: black;
    padding: 20px;
    width: 400px;
    text-align: right;
    border: solid black 3px;
}
#Team {
    background-color: blue;
    color: gold;
    padding: 20px;
    width: 400px;
    text-align: right;
    border: solid black 3px;
}
#Name {
    background-color: gold;
    color: blue;
    padding: 20px;
    width: 400px;
    text-align: right;
    border: solid blue 3px;
}